/* add row-cursor-pointer to v-data-table to change cursor to pointer */
.v-data-table.row-cursor-pointer tr {
  cursor: pointer;
}

/* data table header row */
thead.v-data-table-header {
  background-color: #F5F5F5 !important;
}

/* data table filter row */
tr.v-data-table-filter {
  background-color: #F5F5F5 !important;
}

/* highlight selected row in v-data-table */
.v-data-table__selected {
  background: #ddd !important;
}

/* remove box-shadow from stepper */
.v-stepper {
  box-shadow: none !important;
}
.v-stepper__header {
  box-shadow: none !important;
}

/* hichart date selector background */
.highcharts-range-selector {
  background-color: #fff !important;
}

/* wrap text in <pre> */
pre {
  white-space: pre-line;
}

/* for hiding submit buttons */
.hidden {
  display: none;
}

.text-monospace {
  font-family: monospace;
}

/* prevent hidden dropdowns */
/* .handsontable .handsontableEditor {
  position: fixed;
} */